/* CSS declarations go here */
@media /*(max-width: 768px)*/ {
	  body {
		padding-top:75px !important;
		padding-bottom:50px !important;
		max-width: 80%;
		 margin: auto;
	  }

	.navbar-ubc{
		background-color:#002145;
		border-color:#080808;
	}

	  
	a.navbar-link {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 15px;
		text-decoration: none;
		font-size: 17px;
	}

	a.navbar-link:hover {
		background-color: #0055B7;
	}

	a.navbar-link:active {
		background-color: #00A7E1;
		color: white;
	}

	h3{
		margin:10px
	}
	
	toastr.options = {
	  closeButton: true,
	  debug: false,
	  newestOnTop: false,
	  progressBar: false,
	  positionClass: toast-top-right,
	  preventDuplicates: false,
	  onclick: null,
	  showDuration: 300,
	  hideDuration: 1000,
	  timeOut: 2500,
	  extendedTimeOut: 1000,
	  showEasing: swing,
	  hideEasing: linear,
	  showMethod: fadeIn,
	  hideMethod: fadeOut
	}

	.table.table-rollover tr:hover > td {
		background: #c6c6c6;
	}


	.front > fieldset, .back > fieldset {
  display: inline-block;
  width: 80%;
}

.flip {
  /*width: 100%;*/
  position: relative;
  font-weight:400;
  font-size:15px;
  margin: 10px 0;
}

.card {
	
  margin: 10px;
	
	
}

.card-body {
  width: 100%;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.card-front {
	background-color: #E0E0E0;
}
 .card-back{
	 background-color: #E9E9E9;
 }
 
body .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
	color: black;
}

.modal.in{
     text-align: center;
}
 
.breadcrumb {
	background-color: #ffffff;
	margin-bottom: 0px;
} 
 
 .left{
  float:left;
  vertical-align:bottom;
}
.right{
	float:right;
  vertical-align: bottom;
}

.cardRow-input {
      border-radius:6px;
  box-shadow:2px 2px 8px rgba(0,0,0,.3);
  border:0;
    min-height: 80px;
    min-width: 150px;
	width: 100%;
	text-align: left;
	padding: 5px;
	height:100%;

}
.cardRow-cell {
	display: table-cell;

}

.cardRow-container{
	display: table-row;
	width: 100%;
}

.cardTable-container{
	table-layout: fixed;
	display: table;
	width: 100%;
	border-collapse:separate;
	border-spacing:7px;
	
}

.header {
	background-color: #002145;
	vertical-align: center;
  border:0;
	
      border-radius:6px;
	  color: white;
}

.header-btn{
	
	background-color: #0055B7;
      border-radius:6px;
  box-shadow:2px 2px 8px rgba(0,0,0,.3);
  border:0;
  margin-right: 5px;
  
}

.header-btn:hover {
		background-color: #003268;
		color: white;
	}

	.header-btn:active {
		background-color: #00A7E1;
		color: white;
	}

	.button-icon{
		padding: 0px;
	}
.tabs-margin.ul{
	margin:0px;
}
.tabs-margin.ol{
	margin:0px;
}
}

