/* CSS declarations go here */
@media /*(max-width: 768px)*/ {
  body {
    padding-top:75px !important;
    padding-bottom:50px !important;
	max-width: 80%;
	 margin: auto;
  }


  
  
a.navbar-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px 0px 0px;
    text-decoration: none;
    font-size: 17px;
}

a.navbar-link:hover {
    color: white;
}

a.navbar-link:active {
    background-color: black;
    color: white;
}
  
  
  
}
