
<template name="navigation">
	<nav class="navbar navbar-ubc navbar-fixed-top">
		<div class="container">

			<a class="navbar-link" href="/" style="float:left">UBCcards</a>
			<div id="login-btn" class="navbar-nav"  style="float:right">
				<ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
				</ul>  
			</div>
			<a class="navbar-link" href="#contact" style="float:right">Options</a>
			<a class="navbar-link" href="#news" style="float:right">Help</a>

		</div>
	</nav>
</template>