<template name="courseList">

{{> breadcrumb}}

	<a href="#" id="addCourse" class="btn btn-primary">Add Course</a>
	
	{{> courseRowTable title="Enrolled Courses" col=enrolledCourse}} 
	{{> courseRowTable title="Available Courses" col=notEnrolledCourse}}
 
	{{> courseAddModalTemplate}}
 
</template>


<template name="courseAddModalTemplate">
<div class="modal" id="courseAddModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Add course...</h4>
        </div>

        <div class="modal-body">
          <label for="name">Course Name: </label>
          <input type="text" id="courseName" />
        </div>

		 <div class="modal-body">
          <label for="name">Course code: </label>
          <input type="text" id="courseCode" />
        </div>
		
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="saveCourse">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>




</template>