<template name="courseRowTable">
	<div class="RowTableTitle">
			<h3>{{title}}</h3>
	</div>
	<div class="courseRowTableContent ">
		<table class="table table-rollover" >
			<thead>
			<tr>
				<th width="40%" style="text-align:left">Name</th>
				<th width="12%" style="text-align:left">Code</th>
				<th width="12%" style="text-align:center">Enrolled</th>
				<th width="12%" style="text-align:center">Flashcards</th>
				<th width="12%" ><!-- enroll button --></th>
				<th width="12%" ><!-- study button --></th>
			</tr>
			</thead>
			<tbody>
			
			{{#if nonEmpty col}}
				{{#each col}}
					{{> courseRow }}
				{{/each}}
			{{else}}
				<tr><td colspan="6" style="text-align:center">No courses found</td></tr>
				{{/if}}
				</tbody>
		</table>
	</div>
</template>
	