<template name="courseRowTable">
	<div class="courseRowTableTitle">
		{{#if showEnrolled}}
			<h3>Enrolled Courses</h3>
		{{else}}
			<h3>All Courses</h3>
		{{/if}}
	</div>
	<div class="courseRowTableContent">
		<table class="table" >
			<thead>
			<tr>
				<th width="40%" style="text-align:left">Name</th>
				<th width="15%" style="text-align:center">Enrolled</th>
				<th width="15%" style="text-align:center">Flashcards</th>
				<th width="15%" ><!-- enroll button --></th>
				<th width="15%" ><!-- study button --></th>
			</tr>
			</thead>
			<tbody>
			{{#if showJustEnrolled}}
				{{#if enrolledInACourse}}
					{{#each enrolledCourse}}
						{{> courseRow }}
					{{/each}}
				{{else}}
					<tr><td colspan="5" style="text-align:center">No currently enrolled courses</td></tr>
				{{/if}}
			{{else}}
				{{#each course}}
					{{> courseRow }}
				{{/each}}
			{{/if}}
			</tbody>
		</table>
	</div>
</template>
	