<template name="cardRow">
	<tr style="text-align:center" data-id="{{_id}}">

		<td><div class="divinput" contentEditable="true" id="front{{_id}}">{{{flipfront}}}</div></td>
		<td><div class="divinput" contentEditable="true" id="back{{_id}}">{{{flipback}}}</div></td>
		<td><div class="divinput" contentEditable="true" id="tags{{_id}}">{{{tags}}}</div></td>
		<td><button class="btn btn-saveCard" >Save</button></td>
		<td>{{#unless isBlank}}<button class="btn btn-deleteCard" >Delete</button>{{/unless}}</td>
	</tr>
</template>