<template name="cardRow">

	<div class="cardRow-container">

		<div class="cardRow-cell cardRow-input" contentEditable="true" id="front{{_id}}">{{{flipfront}}}</div>
		<div class="cardRow-cell cardRow-input" contentEditable="true" id="back{{_id}}">{{{flipback}}}</div>
		<div class="cardRow-cell cardRow-input" contentEditable="true" id="tags{{_id}}">{{{tags}}}</div>
		<div class="cardRow-cell" style="width: 80px">
			<button class="btn btn-saveCard btn-icon"  style="margin: 0px 0px 5px 0px">
				<img src="/img/save.png" height="25px" width="25px">
			</button>
			<br>
			{{#unless isBlank}}
				<button class="btn btn-deleteCard btn-icon">
					<img src="/img/delete.png" height="25px" width="25px">
				</button>
			{{/unless}}	
		</div>
	</div>
</template>