<template name="cardRowTable">
<div class="cardTable-container" cellpadding="8px">

		<div class="cardRow-container" style="text-align:center">
			<div class="cardRow-cell" >Front</div>
			<div class="cardRow-cell" >Back</div>
			<div class="cardRow-cell" >Tags</div>
			<div class="cardRow-cell" style="width:80px">Actions</div>
		</div>

	{{#if showOnlyFlagged}}
		{{#if flaggedCard.count}}	
			{{#each flaggedCard}}
				{{> cardRow }}
			{{/each}}
		{{else}}
			<tr><td colspan="4" style="text-align:center">No cards found</td></tr>
		{{/if}}
	{{else if showBlank}}
		{{> cardRow blank="true"}}
	{{else}}	
		{{#if card.count}}	
			{{#each card}}
				{{> cardRow }}
			{{/each}}
		{{else}}
			<tr><td colspan="4" style="text-align:center">No cards found</td></tr>
		{{/if}}	
	{{/if}}	


</div>

</template>
