<template name="cardRowTable">
<table class="table">
	<thead>
		<tr>
			<th width="40%" style="text-align:center">Front</th>
			<th width="40%" style="text-align:center">Back</th>
			<th width="15%" style="text-align:center">Tags</th>
			<th style="text-align:center" width="5%" white-space="nowrap">Actions</th>
		</tr>
	</thead>
	<tbody>

	{{#if showJustFlagged}}
			{{#each flaggedCard}}
				{{> cardRow }}
			{{/each}}

	{{else}}
	
			{{> cardRow blank="true" code=courseCode}}
			
			{{#each card}}
				{{> cardRow}}
			{{/each}}

{{/if}}	

	</tbody>
</table>

</template>
