<template name="coursePage">

{{> breadcrumb}}


<table class="header">
	<tr>
		<td width="99%"><h3>Course: {{name}} / {{courseCode}}</h3></td>
		<td width="1%"><button class="btn btn-study header-btn">Study</button></td>
	</tr>
	
	</table>
	
	{{#basicTabs name="" tabs=tabs}}
	
		{{#tabContent slug="addNew"}}
			{{> cardRowTable showBlank="true"}}
		{{/tabContent}}
		{{#tabContent slug="active"}}
			{{> cardRowTable}}
		{{/tabContent}}
		
		{{#tabContent slug="flagged"}}
			{{> cardRowTable showOnlyFlagged="true"}}
		{{/tabContent}}
	{{/basicTabs}}
  
</template>