<template name="coursePage">

{{> breadcrumb}}


<table style="vertical-align: center">
	<tr>
		<td width="99%"><h3>Course: {{name}} / {{courseCode}}</h3></td>
		<td width="1%"><button class="btn btn-study">Study</button></td>
	</tr>
	
	</table>
	
	{{> cardRowTable}}
	<!--

	{{#basicTabs name="" tabs=tabs}}
	
		{{#tabContent slug="active"}}
			{{> cardRowTable}}
		{{/tabContent}}
		
		{{#tabContent slug="flagged"}}
			{{> cardRowTable showOnlyFlagged="true"}}
		{{/tabContent}}
	{{/basicTabs}}
  -->
</template>